:root {
  --border-color: #000;
  --border-size: 5px;
  --tile-size: 80px;
  --tile-bg-color: #fff;
  /* This doesn't work with max-width, not exactly sure why */
  /* This is here to make margin 0 auto work, there should be a better solution with flexbox maybe */
  --board-width: calc((var(--tile-size) * 3) + (var(--border-size) * 4));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial;
  line-height: 1;

  box-sizing: border-box;
}
